/**
 * 当需要高亮时的富文本，样式
 */

// 高亮词遮罩层
.fb-cover-mask-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  p {
    line-height: 1.5;
    // https://blog.csdn.net/weixin_40329396/article/details/137924560
    white-space: break-spaces;
    // https://developer.mozilla.org/zh-CN/docs/Web/CSS/overflow-wrap
    overflow-wrap: break-word;
  }
}

//  高亮时修改样式
.fb-editor-scroll.is-highlight {
  .fb-editor {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    height: fit-content;
    // 重点
    p {
      color: transparent; // 把输入框的文字颜色设置为透明
      caret-color: #333; // 定义输入光标（caret）的颜色
      // 设置选中时的颜色
      &::selection {
        color: #fff !important;
        background: #1890ff !important;
      }
    }
  }
}

/**
* 编辑器区域
*/
.fb-editor-container {
  background-color: #fff;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  &.is-placeholder-visible .fb-placeholder {
    display: block;
  }
}

.fb-editor-scroll {
  width: 100%;
  overflow-y: auto;
  overscroll-behavior: none;
  position: relative;
  margin-top: 1px;
  height: 100%;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: rgb(255 255 255 / 0%);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(0 0 0 / 15%);
  }
}

.fb-editor {
  width: 100%;
  border: none !important;
  outline: none !important;
  background-color: transparent;
  line-height: 18px;
  color: #333;
  font-size: 14px;
  // https://blog.csdn.net/weixin_40329396/article/details/137924560
  white-space: break-spaces;
  // https://developer.mozilla.org/zh-CN/docs/Web/CSS/overflow-wrap
  overflow-wrap: break-word;
  // word-break: break-all;
  // webkit
  -webkit-font-smoothing: antialiased;
  p {
    line-height: 1.5;
  }
  a {
    text-decoration: underline;
    color: #06c;
  }
}

/**
 * 内容文本区域
 */
.fb-placeholder {
  position: absolute;
  pointer-events: none;
  user-select: none;
  color: #8f959e;
  cursor: text;
  // font-style: italic;
  display: none;
  font-size: 14px;
  left: 0;
  top: 1px;
  width: 90%;
  z-index: 10;
}

.fb-e-image-container {
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid transparent;
  outline: none;
  width: 200px;
  height: 200px;
  &:hover {
    border: 2px solid #b4d5ff;
  }
  img {
    cursor: default;
    display: inline !important;
    width: 100%;
    height: 100%;
    border-style: none;
    // vertical-align: baseline;
    vertical-align: text-bottom;
  }
}
.fb-e-image {
  cursor: default;
  border-style: none;
  vertical-align: text-bottom;
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  border: 2px solid transparent;
  margin: 0 2px;

  // min-width: 40px;
  // min-height: 40px;
  // max-height: 320px;
  // max-width: 100%;
  width: auto;
  max-height: 64px;
  -webkit-user-drag: none;
  object-fit: contain;
  &:hover {
    border: 2px solid #b4d5ff;
  }
}
.fb-e-image-focus {
  border-color: rgb(51, 109, 244);
  cursor: zoom-in;
}

.fb-e-emoji-container {
  display: inline-block;
  box-sizing: content-box;
  margin: 0 2px;
  outline: none;
  img {
    cursor: default;
    display: inline !important;
    width: 100%;
    height: 100%;
    border-style: none;
    vertical-align: text-bottom;
  }
}

.fb-e-emoji {
  margin: 0 2px;
  outline: none;
  cursor: default;
  display: inline !important;
  width: 100%;
  height: 100%;
  border-style: none;
  vertical-align: text-bottom;
}

/** 右键菜单 */
.fb-editor-menu-wrap {
  border: 1px solid rgba(233, 237, 243, 1);
  box-sizing: border-box;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 16px 24px rgba(41, 80, 155, 0.1);
  border-radius: 12px;

  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  padding: 4px;
  z-index: 999;
  .fb-menu-item {
    height: 32px;
    min-width: 99px;
    user-select: none;
    box-sizing: border-box;
    padding: 0 8px;
    align-items: center;
    color: rgba(0, 0, 0, 0.65);
    display: none;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    img {
      width: 16px;
      height: 16px;
      margin-top: 2px;
      margin-right: 10px;
    }
    &:hover {
      background-color: rgba(245, 246, 250, 1);
    }
  }
}
