@function ypImcdn($img) {
  @return "https://cdn.yupaowang.com/yupao_pc/images/im/" + $img;
}

// 富文本样式
.fb-editor {
  flex-flow: column nowrap;
  display: flex;
  padding: 0 24px;
  border-top: 1px solid rgba(233, 237, 243, 1);
  position: relative;
}

// 工具栏
.fb-editor-controls {
  width: 100%;
  overflow: hidden;
  height: 40px;
  display: flex;
  align-items: center;
  user-select: none;
  padding-top: 8px;
  box-sizing: content-box;
  .emotion {
    width: 21px;
    height: 21px;
    background: url(ypImcdn("icon/emote.svg")) no-repeat;
    opacity: 0.9;
    background-size: cover;
    transition: none;
    margin-right: 23px;
    cursor: pointer;
    &:hover {
      background: url(ypImcdn("icon/emote2.svg")) no-repeat;
      background-size: cover;
    }
  }
}

// 底部操作区
.fb-chat-op {
  user-select: none;
  padding-bottom: 5px;
  padding-top: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .tip {
    padding-right: 20px;
    font-size: 12px;
    color: #ccc;
  }
  .btn-send {
    padding: 0 16px;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    outline: none;
    border: none;
    cursor: auto;
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    background-color: rgba(245, 246, 250, 1);
  }
  .activate {
    background-color: rgba(0, 146, 255, 1);
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: rgba(5, 165, 255, 1);
    }
  }
}

// 表情弹窗样式
.fb-emote-pop {
  position: absolute;
  bottom: 157px;
  left: 1px;
  width: 464px;
  border-radius: 5px;
  overflow: visible;
  background-color: #fff;
  box-shadow: 0 3px 16px 0 rgba(31, 35, 41, 0.12);
  font-size: 20px;
  cursor: default;
  z-index: 10;
  .emoji-panel-scroller {
    width: 100%;
    max-height: 240px;
    box-sizing: border-box;
    overflow-y: overlay;
    overflow-x: hidden;
    padding: 16px 12px;

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      background-color: rgb(255 255 255 / 0%);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgb(0 0 0 / 15%);
    }

    .emoji-container {
      user-select: none;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .emoji-item {
        cursor: pointer;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        background-color: #fff;
        &:hover {
          background-color: rgba(245, 246, 250, 1);
        }
      }
    }
  }
}

// 输入框样式
.fb-editor-scroll {
  width: 100%;
  max-height: 75px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: rgb(255 255 255 / 0%);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(0 0 0 / 15%);
  }

  .fb-editor-wrapper {
    width: 100%;
    min-height: 75px;
    overflow-x: hidden;
    border: none;
    outline: none;
    background-color: transparent;
    line-height: 18px;
    color: #333;
    font-size: 14px;
    white-space: pre-wrap;
    // 解决输入英文 数字换行问题
    word-break: break-all;
    img {
      margin-top: -2px;
      margin-right: 3px;
      cursor: default;
      display: inline !important;
    }
  }
}

.fb-editor-container {
  background-color: #fff;
  flex: 1;
  position: relative;
  p {
    line-height: 1.5;
  }
}

.fb-tip-placeholder {
  position: absolute;
  pointer-events: none;
  user-select: none;
  color: #8f959e;
  cursor: text;
  font-style: italic;
  font-size: 14px;
  left: 0;
  top: -1px;
  width: 90%;
}
